body {background-color: antiquewhite}

header {color: salmon;
    font-family: fantasy ; font-size: 5vh;  }

ul {font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 15pt;}

iframe /*{display: none;}

